<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Wiredrive Developer Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style>
            section {
                padding-top: 20px;
            } 

            .active a {
                border: 1px solid black;
            }

            .nav > li > a:hover {
                background-color: white;
            }

        </style>
    </head>

    <body data-spy="scroll" data-target="#sidenav">
        <div class="container-fluid">
            <h1>Wiredrive RSS Feed</h1>
            <div class="row-fluid">
                <div class="col-md-10" id="items">
                    <ul class="media-list">

                    {% for item in items recursive %}
                        <section id="item{{ loop.index }}">
                            <li class="media">
                                <a class="pull-left" href="#">
                                    {% set thumbnail = item.smallest_thumbnail %}
                                    <img class="media-object" src={{ thumbnail['url'] }} alt="{{ item.title }}" />
                                </a>

                                <div class="media-body">
                                    <h3 class="media-heading">{{ item.title }}</h3>
                                    <ul class="list-group">

                                        {% for key, value in item.sanitized_entry.iteritems() recursive %}
                                            {% set dict_loop = loop %}
                                            <li class="list-group-item">{{ key }}:
                                                {% if value is mapping %}
                                                    <ul class="list-group">
                                                        {{ dict_loop(value.iteritems()) }}
                                                    </ul>
                                                {% elif value is string or value is not iterable %}
                                                    {{ value }}
                                                {% else %}
                                                    {# For lists, go back through the loop and do it all again. #}
                                                    {% set nested_list = value %}
                                                    {% for subitem in nested_list %}
                                                        <ul class="list-group">
                                                            {{ dict_loop(subitem.iteritems()) }}
                                                        </ul>  
                                                    {% endfor %}
                                                {% endif %}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </li>
                        </section>
                    {% endfor %}

                    </ul>
                </div>

                <div id="sidenav" class="col-md-2 pull-right">
                    <ul class="nav nav-list" data-spy="affix" data-offset-top="125">
                        {% for item in items %}
                            <li><a href="#item{{ loop.index }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <script src="http://code.jquery.com/jquery-1.9.0.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </body>
</html>